.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    margin: 10px 20px;
    background-color: #efefef;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 125px 1fr 100px;
    align-items: center;
    align-content: center;
    justify-items: center;
    line-height: 24px;
}

.card__image {
    width: 100%;
    background-color: #ffdcdc;
    border-radius: 10px;
    margin-right: 20px;
}

.card__remove {
    color: #797979;
    font-size: 24px;
    cursor: pointer;
}

.card__remove:hover {
    color:darkgray;
}

.card__remove:active {
    color:lightgray;
}