<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SeaBattle</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<main>
    <div class="navigation">
        <h1>Sea Battle</h1>
        <div class="message-box">Welcome to Sea Battle!</div>
        <button class="start-button">Start game!</button><br />
        <a href="/signup">Sign UP</a><br />
        <a href="/signin">Sign IN</a><br />
        <a href="/bestPlayers">Best Players</a><br />
    </div>
    <div class="player-field"></div>
    <div class="computer-field"></div>
</main>
<script src="js/helpers.js" type="module"></script>
<script src="js/script.js" type="module"></script>
</body>
</html>