<div class="main-page__container">
    <h1 class="main-page__title">{{title}}</h1>
    <p class="main-page__welcome">Welcome to {{title}}</p>
    <input class="show-orders-input js-id-input" type="text" placeholder="Введите id сотрудника">
    <button class="show-orders js-show-orders">Посмотреть заказы</button>
</div>
<div class="index-root"></div>
<script src="/javascripts/index.js"></script>