<h1 class="menu__title">Authentication</h1>
<div class="orders__container">
    <form class="orders__form" action="/action_page.php">
        <label class="orders__label" for="login">Login</label>
        <input class="orders__input" id="login" name="login">

        <label class="orders__label" for="password">Password</label>
        <input class="orders__input" id="password" name="password" multiple="">

        <p style="text-align: center">New here? <a href="/signup">Create an account</a></p>
        
        <div class="orders__inner-container">
            <input class="orders__submit-button js-submit" type="submit" value="Sign in">
        </div>
    </form>
</div>
<script src="/javascripts/signin.js"></script>